<h1>Detalles del Módulo</h1>
<p>ID: <%= module.id %></p>
<p>Nombre del Módulo: <%= module.nameModule %></p>
<p>Descripción: <%= module.descriptionModule %></p>
<p>Fecha de Creación: <%= module.createdAtModule %></p>
<p>Fecha de Edición: <%= module.writedAtModule %></p>
