<h1><%= title %></h1>
<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre del M贸dulo</th>
                <th>Descripci贸n</th>
                <th>Fecha de Creaci贸n</th>
                <th>Fecha de Edici贸n</th>
            </tr>
        </thead>
        <tbody>
            <% modules.forEach((module, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= module.nameModule %></td>
                <td><%= module.descriptionModule %></td>
                <td><%= module.createdAtModule %></td>
                <td><%= module.writedAtModule %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
