<h1>Detalles del Permiso</h1>
<p>ID: <%= permission.id %></p>
<p>Nombre del Permiso: <%= permission.namePermission %></p>
<p>Módulo: <%= permission.moduleId %></p>
<p>Fecha de Creación: <%= permission.createdAtPermission %></p>
<p>Fecha de Edición: <%= permission.writedAtPermission %></p>
