<h1>Detalles del Usuario</h1>
<p>ID: <%= user.id %></p>
<p>Name: <%= user.nameUser %></p>
<p>User: <%= user.user %></p>
<p>Email: <%= user.email %></p>
<p>Rango: <%= user.rankId %></p>
<p>Enable: <%= user.enable ? 'Sí' : 'No' %></p>
<p>Fecha de Creación: <%= new Date(user.createdAtUser).toLocaleDateString('es-ES') %></p>
<p>Fecha de Edición: <%= new Date(user.writedAtUser).toLocaleDateString('es-ES') %></p>
<p>Creado por: <%= user.createUserId.nameUser %></p>
<p>Editado por: <%= user.writeUserId.nameUser %></p>
