<h1><%= title %></h1>
<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>User</th>
                <th>Email</th>
                <th>Rango</th>
                <th>Enable</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Edición</th>
                <th>Creado por</th>
                <th>Editado por</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= user.nameUser %></td>
                <td><%= user.user %></td>
                <td><%= user.email %></td>
                <td><%= user.rankId.nameRank %></td>
                <td><%= user.enable %></td>
                <td><%= user.createdAtUser %></td>
                <td><%= user.writedAtUser %></td>
                <td><%= user.createUserId.nameUser %></td>
                <td><%= user.writeUserId.nameUser %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>