
<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>User</th>
                <th>Email</th>
                <th>Rango</th>
                <th>Enable</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Edición</th>
                <th>Creado por</th>
                <th>Editado por</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= user.nameUser %></td>
                <td><%= user.userUser %></td>
                <td><%= user.emailUser %></td>
                <td><%= user.Rank.nameRank %></td>
                <td><%= user.enable ? 'Sí' : 'No' %></td>
                <td><%= new Date(user.createdAt).toLocaleDateString('es-ES') %></td>
                <td><%= new Date(user.updatedAt).toLocaleDateString('es-ES') %></td>
                <td><%= user.createUser.nameUser %></td>
                <td><%= user.writeUser.nameUser %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>